


/* About */

.About-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(circle at 20% 30%, #e5601c, rgba(229, 96, 28, 0) 60%),
                radial-gradient(circle at 40% 20%, rgba(234, 172, 15, .9), rgba(234, 172, 15, 0) 60%),
                radial-gradient(circle at 60% 70%, rgba(229, 96, 28, 1), rgba(229, 96, 28, 0) 60%),
                radial-gradient(circle at 80% 80%, rgba(234, 172, 15, 0.8), rgba(234, 172, 15, 0) 60%),
                radial-gradient(circle at 70% 40%, rgba(229, 96, 28, 0.8), rgba(229, 96, 28, 0) 60%),
                radial-gradient(circle at 30% 60%, rgba(234, 172, 15, 1), rgba(234, 172, 15, 0) 60%);
    background-size: 300% 300%;
    animation: bubbleGradientAnimation 7s ease infinite;
    text-align: left;
    color: white;
    padding: 5%;
}

@keyframes bubbleGradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.About-container h1{
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bolder;
    padding-bottom: 4%;
}

.About-container p{
   font-size: 1.4rem;
}
.About-container hr{
    padding-bottom: .3%;
}
.abthr{
    padding-top: 5%;
    scale: 0;
}


/* Media Queries */
@media (max-width: 768px) {
    .About-container h1 {
        font-size: 3rem; 
        padding-bottom: 15%;
    }

    .About-container p {
        font-size: 1rem; /* Smaller font size for smaller screens */
    }

    .abthr {
        padding-top: 15%;
    }
}

@media (max-width: 480px) {
    .About-container h1 {
        font-size: 2.5rem; /* Even smaller font size for very small screens */
    }

    .About-container p {
        font-size: 1rem; /* Even smaller font size for very small screens */
    }

    .abthr {
        padding-top: 15%;
    }
}


/* Collab */ 

.Collab-container{
    
    height: 100vh;
    background-color: #F5EFD6;
    align-items: center;
    justify-content: center;
}

.Collab-heading{
    font-size: 4rem;
    padding-top: 12.5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bolder;
    text-align: center;
    color: #e5601c;
    
}
.Collab-logos {
    display: grid;
    grid-template-columns: repeat(3, 3fr); /* Create 3 equal columns */
    margin-top: -17.5vh;
    justify-items: center; /* Center the logos horizontally */
    align-items: center; /* Center the logos vertically */
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
    scale: .8;
    
}

.Collab-logos a {
    /* Make each link take up equal space */
    display: flex;
    justify-content: center; /* Center the logos within each link */
    align-items: center; 
    scale: .5;
}

.eeti-logo, .foces-logo, .dummy-logo, .visatiedc-logo {
    max-height: 100%; /* Ensure logos do not exceed the container height */
    max-width: 100%; /* Ensure logos do not exceed the container width */
}

.iedccec-logo{
    max-height: 80%; /* Ensure logos do not exceed the container height */
    max-width: 80%;

}

.sreeiedc-logo{
    max-height: 60%; /* Ensure logos do not exceed the container height */
    max-width: 60%;
    margin-top: -15vh;

}

.iedccek-logo{
    max-height: 100%; /* Ensure logos do not exceed the container height */
    max-width: 100%;
    scale: 1.4;

}
.catalyst-logo{
    max-height: 60%; /* Ensure logos do not exceed the container height */
    max-width: 60%;
    scale: .65;

}

.catalyt{
    width: 70%;
    height: 70%;
}

.eeti-logo:hover, .foces-logo:hover, .dummy-logo:hover, .visat-logo:hover, .iedccec-logo:hover, .sreeiedc-logo:hover, .iedccek-logo:hover, .catalyst-logo:hover {
    transform: scale(1.1); /* Scale the logo on hover */
    transition: transform 0.3s; /* Smooth transition */
    
     filter: drop-shadow(0 0 0.75rem #d8d3d3d1);


}



/* Media Queries */

@media (max-width: 480px) {

    .Collab-heading{
        font-size: 2.5rem;
        padding-top: 12vh;
        

    }

    .Collab-logos {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        scale: .8;
        padding-bottom: 0%;
        margin-top: -12.5vh;
    }
    
    .sreeiedc-logo{
        margin-left: -200%;
        max-width: 90%;
        max-height: 90%;
    
    }
    .eeti-logo, .iedccec-logo, .foces-logo, .dummy-logo, .visat-logo, .catalyst-logo {
        max-height: 130%; /* Further increase the size of the logos */
        max-width: 130%;
        scale: 1.2;
    }

    .iedccek-logo{
        max-height: 130%; /* Further increase the size of the logos */
        max-width: 130%;
        scale: 1.7;
    }

    .iedccec-logo{
        max-height: 100%; /* Further increase the size of the logos */
        max-width: 100%;
        scale: 1.07;
    }

    .catalyst-logo{
        max-height: 100%; /* Further increase the size of the logos */
        max-width: 100%;
        scale: .9;
    }

}

@media (max-width: 330px) {
    .Collab-heading{
        font-size: 2rem;
        

    }


}