

/* About */.About-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(circle at 30% 40%, #E5601Ccc, rgba(139, 0, 0, 0.431) 50%),
                radial-gradient(circle at 50% 50%, #eaac0fcc, rgba(184, 135, 11, 0.475) 50%),
                radial-gradient(circle at 80% 80%, #E5601Ccc, rgba(139, 0, 0, 0.348) 50%);
    background-size: 300% 300%;
    animation: bubbleGradientAnimation 7s ease infinite;
    text-align: left;
    color: white;
    padding: 5%;
}

@keyframes bubbleGradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.About-container h1{
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bolder;
    padding-bottom: 4%;
}

.About-container p{
   font-size: 1.4rem;
}
.About-container hr{
    padding-bottom: .3%;
}
.abthr{
    padding-top: 5%;
    scale: 0;
}


/* Media Queries */
@media (max-width: 768px) {
    .About-container h1 {
        font-size: 3rem; /* Smaller font size for smaller screens */
    }

    .About-container p {
        font-size: 1.2rem; /* Smaller font size for smaller screens */
    }

    .abthr {
        padding-top: 3%;
    }
}

@media (max-width: 480px) {
    .About-container h1 {
        font-size: 2rem; /* Even smaller font size for very small screens */
    }

    .About-container p {
        font-size: .9rem; /* Even smaller font size for very small screens */
    }

    .abthr {
        padding-top: 2%;
    }
}